$font-stack:    Helvetica, sans-serif;
$primary-color: #ffffff;
$background: #242222;

body {
    background: $background;
}

p {
    padding: 2em;
    font-size: 14pt;
    color: $primary-color;
}


h1 {
  font: 24pt $font-stack;
  color: $primary-color;
}

td {
    padding: 2em;
}

thead td {
    font-weight: bolder;
    border-bottom: 1px solid #000;
}
.cover-image {
    background: url('static/img/14.png');
}

.center {
    margin: 0 auto;
    width: 500px;
}
