<!doctype html>
<html>
<head>
<title>Flask Hype</title>
{% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
</head>
   <body>
       <div class="cover">
           <div class="navbar">
               <div class="container">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand" href="#"><span>{{stuff}}</span></a>
                   </div>
                   <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                       <ul class="nav navbar-nav navbar-right">
                           <li class="active">
                               <a href="/list">Contacts</a>
                           </li>
                           <li>
                               <a href="/enternew">New</a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <div class="section">
           <div class="container">
               <div id="bp_data">
               </div>
           </div>
       </div>
             <script>
        var res = {{response|safe}}
       for (r in res) {
           console.log(res[r]);
       }
       </script>
   </body>
   {% assets "js_all" %}
       <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
</html>
